# Build
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties
android/captures/
android/key.properties

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Windows/Linux/macOS
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugin_registrant.cc
macos/Flutter/GeneratedPluginRegistrant.swift

# Misc
*.iml
*.log
.idea/
.vscode/
